@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

/* Dark 02 */
.text-gray{
    color: #424242;
}

/* Dark 03 */
.text-light-gray{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Styles */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* NavBar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
}

.banner-image{
    width: 100%;
}

/* Teams and Feature styles */
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    max-width: 530px;
    margin-left: 130px;
}

.feature-title{
    font-size: 2.8rem;
}

.of-our{
    color: #131313;
    font-weight: 700;
}

.feat{
    color: #FF900E;
    font-weight: 700;
}

.quick-list{
    font-weight: 500;
}

.feature-description{
    font-weight: 400;
    font-size: 1rem;
}

/* some Facts Style */
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #727272;
}

.fact-description{
    max-width: 540px;
}

/* Sponsor styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-company img{
        filter: grayscale(100%);
}
/* Sponsor styles */
.sponsor-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.sponsor-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}
/* Responsive Media Queries */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }
    .banner-title {
        font-size: 3rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .btn-primary {
        padding: 15px 20px;
        font-size: 1rem;
    }

    .team-image-container, 
    .facts-container,
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container, .sponsor-company{
        justify-items: center;
        gap: 24px;
    }


    .sponsor-company{
        gap: 50px;
    }

    .our-features {
        margin-left: 20px;
        /* text-align: center; */
        margin-top: 0px;
    }



    .sponsor-company img{
        filter: grayscale(100%);
    }
    
}

/* Medium Size Display */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
     .our-features {
        margin-left: 0;
        /* text-align: center; */
    }

    .team-image-container, .facts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsor-company {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }

    .section-title ,
    .fact-description {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .our-sponsors{
        margin-top: auto;
    }
}